.main {
  height: 100vh;
  padding: 3rem 0;
}

.card {
  background: rgb(150, 43, 255);
  background: linear-gradient(321deg, rgb(122 0 255) 0%, rgb(141 75 202) 100%);
  margin-bottom: 2rem;
  border-radius: 1rem;
  display: inline-block;
  width: 80%;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.floatButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  text-align: center;
  font-size: 4rem;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}
